
* {
  box-sizing: border-box;
}
body {
  background-image: url("bg.gif");
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;

  margin: 0%;
}
div.header {
  background-image: url("header1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  font-size: 30px;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
}
div.row{
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 7%;
  margin-bottom: 5%;
}

h1.Titol{
  color: white;
  margin-bottom: 0%;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  font-family: 'Amatic SC';
}

p.sub{
  color: white;
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  font-family: 'Amatic SC';
  letter-spacing: 0.1em;
}

/*COLUMNASSS*/
.column {
  float: left;
  padding: 10px;
  height: auto;
}

.left, .right {
  width: 23%;
  color: white;
  margin-right: 1%;
  margin-left: 1%;
}
/*
middle for principal
middle1 for threats & for form (wanna post a new)
middle2 for about hacking
*/
.middle {
  width: 50%;
}
.middle1 {
  width: 100%;
}
.middle2 {
  width: 75%;
}

/* quitar float despues de las columnas */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*BARRA NAV DESPLEGABLE*/
.navbar {
  overflow: hidden;
  background-color: #333;
  margin-bottom: 0%;
  margin-left: 0%;

  font-family: 'Amatic SC';
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:#067caf;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color:#067caf;
}

.dropdown:hover .dropdown-content {
  display: block;
}
img.logo{
  width: 10%;
  height: auto;
  padding: 3%;
}
img.foto1{
  width: 60%;
  height: auto;
}
h3{
  margin-top: 2em;
  text-decoration: underline;
}
div.loginbox{
  float: right;
  margin-right: 1%;
  display: block;
  padding-bottom: 1%;
}

footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
  color: white;
  margin-bottom:0%;
  margin-left: 0%;
  margin-right: 0%;
}
div.titols{
  background-color: #333;
}


figure {
  float: right;
  width: 60%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.1em;
}

.foto1:hover {
  transform: scale(1.3);
}
div.contenido{
  margin: 5%;
}
ul.ulista{
  letter-spacing: 0.1em;
  line-height: 2em;
}
h2.topl{
  font-family: 'Amatic SC';
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
.homee{
  text-align: center;
  font-family: arial;
}
iframe{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  border: 0;
}
h3.threats{
  text-decoration: none;
  margin: inherit;
}
.dirfont{
  color: silver;
  text-decoration: none;
  font-style:  italic;
}

div.newz{
  background-color: silver;
  -webkit-border-radius: 9px;
  width: 100%;
  padding: 1%;
}
p.bold{
  font-weight: bold;
}
